* {
  margin: 0;
}

.font-28 {
  font-size: 28px;
}

.Button {
  height: 63px;
  width: 183px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-top: 20px;
  background-color: #ff7214;
}

/* NAVBAR */
.logo {
  font-size: 32px !important;
}

.nav-link {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 10px;
}

/* HERO */

#Hero {
  width: 100%;
  height: auto;
  background: url(1.png);
}

/* Hero Section Content */
#Hero-Content-SubTitle {
  font-size: 18px;
  font-weight: bold;
  color: #ff7214;
  letter-spacing: 1px;
}

#Hero-Content-Title {
  font-size: 60px;
  font-weight: bold;
  color: #112e41;
}

#Hero-Content-Description {
  font-size: 15px;
  color: #888888;
}

/* Hero Image */

#Hero-Image {
  height: 100%;
  width: 100%;
}

/* ABOUT US */

#About-Content-SubTitle {
  font-size: 14px;
  font-weight: bold;
  color: #ff7214;
  letter-spacing: 1px;
}

#About-Content-Title {
  font-size: 42px;
  line-height: 45px;
  font-weight: bold;
  color: #112e41;
}

#About-Content-Description {
  font-size: 20px;
  line-height: 25px;
}

#About-Content-SubDescription {
  font-size: 15px;
  color: #888888;
}
