* {
  margin: 0;
}

/* Custom Font Size */
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-22 {
  font-size: 22px;
}
.font-28 {
  font-size: 28px;
}
.font-42 {
  font-size: 42px;
}

/* Custom Text Colors */
.orange {
  color: #ff7214;
}
.black1 {
  color: #112e41;
}
.grey {
  color: #888888;
}

.Button {
  height: 63px;
  width: 183px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-top: 20px;
  background-color: #ff7214;
}

/* NAVBAR */
.logo {
  font-size: 32px !important;
}

.nav-link {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 10px;
}

/* HERO */

#Hero {
  width: 100%;
  height: auto;
  background: url(1.png);
}

/* Hero Section Content */
#Hero-Content-SubTitle {
  font-size: 18px;
  font-weight: bold;
  color: #ff7214;
  letter-spacing: 1px;
}

#Hero-Content-Title {
  font-size: 60px;
  font-weight: bold;
  color: #112e41;
}

#Hero-Content-Description {
  font-size: 15px;
  color: #888888;
}

/* Hero Image */

#Hero-Image {
  height: 100%;
  width: 100%;
}

/* ABOUT US */

#About-Content-SubTitle {
  font-size: 14px;
  font-weight: bold;
  color: #ff7214;
  letter-spacing: 1px;
}

#About-Content-Title {
  font-size: 42px;
  line-height: 45px;
  font-weight: bold;
  color: #112e41;
}

#About-Content-Description {
  font-size: 20px;
  line-height: 25px;
}

#About-Content-SubDescription {
  font-size: 15px;
  color: #888888;
}

/* FEATURE */

.Feature-Cards {
  width: 220px !important;
  margin: auto;
  padding: 30px;
  margin-top: 20px !important;
  border: 5px solid #f6f7fb !important;
}

.Feature-Cards img {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
}
